/* Original Template by: Mutiullah Samim
    Modified by: KUDO
    */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("https://i.ibb.co/qrRFCCq/bg.jpg");
  /* background: #60a3bc !important; */
}
#redeem-cont {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: royalblue 1px 1px 1px 1px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: rgba(13, 57, 79, 0.151);

  /* box-shadow: royalblue 0px 1px 0px 1px; */
}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;

  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: royalblue 1px 1px 1px 1px;
}
.form_container {
  margin-top: 35px;
}
.code_btn {
  width: 100%;
  background: #2b608e !important;
  color: white !important;
}
.code_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.code_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #2b608e !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
